<div class="container productosContainer">
  <h2>Process Info</h2>
<table class="table tableContainer  ">
  <thead>
    <tr>
      <th scope="col">Parametros</th>
      <th scope="col">Plataforma</th>
      <th scope="col">Node Version</th>
      <th scope="col">Memoria Reservada</th>
      <th scope="col">Path</th>
      <th scope="col">Process ID</th>
      <th scope="col">Folder</th>
      <th scope="col">CPUs</th>
    </tr>
  </thead>
 
 <tr>
<td>{{this.args}}</td>
<td>{{this.platform}}</td>
<td>{{this.version}}</td>
<td>{{this.rss}}</td>
<td style="font-size:13px";>{{this.path}}</td>
<td>{{this.pid}}</td>
<td style="font-size:13px";>{{this.folder}}</td>
<td>{{this.cpus}}</td>

    </tr>

    </table>

    <a href="/">
        <p class="backLink">Volver</p>
      </a>

    </div>


