<div class='container-fluid'>
  <nav class='customNavbar navbar navbar-light bg-light'>
    <span class='navbar-brand mb-0 h1'>Bienvenido
      {{{data.authUser.user}}}, ({{data.authUser.mail}}).</span>
    <span class='navbar-text'>
      <img
        class='avatarImg'
        src='{{data.authUser.img}}'
        width='53'
        height='53'
        alt='avatar'
      />
      <a class='logoutLink' href='logout'>Logout</a>
    </span>
  </nav>
</div>

<div style='text-align: center' class='cartContainer container'>
  <div class='row gx-1'>
        {{#if render}}
      <h3>Tu carrito esta vacio!</h3>
      <p><i>Para crear un carrito debes crearlo usando Postman: (Post) /api/carrito/_idUsuarioMongo y te devolvera un id de carrito.</i> </p>
      <p><i>Para agregar un producto debes agregarlo con postman: (Post) /api/_idMongoDeCarrito/productos y por body le pasamos idProd: _idMongo del producto.</i>
      </p>
    {{else}}
    <h3>Checkout 🚚📦</h3>

    {{#each cartRender}}
      <div class='col-lg-4 col-md-6'>
        <div class='card' style='width: 16rem;'>
          <h6 class='card-title'>{{data.title}}</h6>
          <img
            class='cartImage card-img-top'
            src='{{data.photo}}'
            alt='Card image cap'
          />
          <div class='card-body'>
            <p class='card-text'>${{data.price}}</p>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
  <div class='totalPrice'>
    <p>Total: ${{total}}</p>

  </div>

  <form class='productosForm' action='/checkout' method='post'>
    <input class='buttonSubmit' type='submit' value='Confirmar Compra' />
  </form>
  {{/if}}

  <p class='backLink'><a meth href='/'>Volver</a></p>
</div>
