<div class='container-fluid'>
  <nav class='customNavbar navbar navbar-light bg-light'>
    <span class='navbar-brand mb-0 h1'>Bienvenido
      {{{data.username}}}, ({{data.email}}).</span>
    <span class='navbar-text'>
      <img
        class='avatarImg'
        src='{{data.avatar}}'
        width='53'
        height='53'
        alt='avatar'
      />
      <a class='logoutLink' href='logout'>Logout</a>
    </span>
  </nav>
</div>

<div style='text-align: center' class='cartContainer container'>
  
  <div class='row gx-2'>
    {{#if render}}
      <h3>Tu carrito esta vacio!</h3>
      <p><i>Para crear un carrito debes crearlo usando Postman: (Post) /api/carrito/_idUsuarioMongo y te devolvera un id de carrito.</i> </p>
      <p><i>Para agregar un producto debes agregarlo con postman: (Post) /api/_idMongoDeCarrito/productos y por body le pasamos idProd: _idMongo del producto.</i>
      </p>
    {{else}}
    <h3>Tu carrito 🛒</h3>
      {{#each cartRender}}
        <div class='col-lg-2 col-md-2'>
          <div class='card' style='width: 8rem;'>
            <h6 class='card-title'>{{data.title}}</h6>
            <img
              class='cartImage card-img-top'
              src='{{data.photo}}'
              alt='Card image cap'
            />
            <div class='card-body'>
              <p class='card-text'>{{data.price}}</p>
            </div>
          </div>
        </div>
      {{/each}} <div class='buttonContainer col-lg-2 col-md-2'>
      <a href='/checkout' class='btn btn-success'>Finalizar la compra</a>
    {{/if}}

   

    </div>
  </div>
</div>

<h2 style='text-align: center'>Productos Disponibles</h2>

<div class='container prodsContainer'>

  <div class='row gx-1'>

    {{#each products.data}}

      <div class='col-lg-4 col-md-6'>
        <div class='card' style='width: 18rem;'>
          <img
            class='card-img-top cardImg'
            src='{{photo}}'
            alt='Card image cap'
          />
          <div class='card-body'>
            <h5 class='card-title'>{{title}}</h5>
            <p class='card-text'>{{desc}}</p>
            <h6 class='card-subtitle mb-2 text-muted'>${{price}}</h6>
            <a href='#' class='btn btn-success'>Comprar</a>
          </div>
        </div>
      </div>

    {{/each}}

  </div>

</div>